html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1420px;
}

.el-card {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1) !important;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}
.el-cascader-panel{
    height: 300px;
}
.el-cascader-menu__wrap{
    height: 100%;
}
.el-steps{
    margin: 20px 0;
}
.el-step__title {
    font-size: 13px;
}
/*富文本编辑器样式*/
.ql-editor{
    min-height: 300px;
}
